.addButton {
    background: transparent;
    color: #fff;
    margin-right: 0;
    vertical-align: top;

    &:hover {
      background: rgba(34, 36, 38, 0.3);
    }
  }
  .editButton {
    box-shadow: none;
    line-height: 32px;
    margin-right: 0;
    opacity: 0;
    position: absolute;
    width: 20px !important;

    background: transparent !important;
    box-shadow: none !important;
    border-radius: 3px !important;
    box-sizing: content-box !important;
    color: #fff!important;
    display: inline-block !important;
    margin-top: 4px !important;
    min-height: auto !important;
    outline: none !important;
    padding: 4px !important;
    position: absolute !important;
    right: 2px !important;
    top: 2px !important;
    transition: background 85ms ease !important;
    
    &:hover {
      background: rgba(255, 255, 255, 0.08);
    }
  }
  .tabActive {
    background: rgba(0, 0, 0, 0.24);

    &:hover {
      background: rgba(0, 0, 0, 0.32);
    }

    .link {
      color: #fff;
      font-weight: bold;
    }
  }

  .tabWrapper {
    display: flex;
    flex: 0 0 auto;
  }

  .tab {
    border-radius: 3px 3px 0 0;
    min-width: 100px;
    position: relative;
    transition: all 0.1s ease;

    &:hover {
      background: rgba(0, 0, 0, 0.24);

      .target {
        opacity: 1;
      }
    }
  }
   
.tabsWrapper {
    display: flex;
    flex: 0 0 auto;
    height: 38px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;

    &:hover {
      height: 38px;
    }

    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
    }
  }
  .tabs {
    display: flex;
    height: 38px;
    flex: 0 0 auto;
    white-space: nowrap;
  }

.wrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 38px;
    overflow: hidden;
  }
  .link {
    color: rgba(255, 255, 255, 0.72);
    cursor: pointer;
    display: block;
    line-height: 20px;
    padding: 10px 34px 6px 14px;
    text-overflow: ellipsis;
    max-width: 400px;
    overflow: hidden;
  }

  .button {
    background: transparent !important;
    box-shadow: none !important;
    line-height: 28px !important;
    margin: 0 !important;
    min-height: auto !important;
    opacity: 0;
    padding: 0 !important;
    position: absolute !important;
    right: 2px !important;
    top: 2px !important;
    width: 28px !important;
  
    &:hover {
      background: rgba(9, 30, 66, 0.08) !important;
    }
  }