/* :global(#app) { */
  .field {
    margin-bottom: 8px;
  }

  .text {
    color: #444444;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 6px;
  }
  .popupHeader {
    color: #444444;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
  }
/* }  */
