 /* :global(#app) { */
  .overlay_left{
    position:absolute;
    right:3%;
    z-index:9999;
    width : 100%;
    max-width:300px;
    height : 150px; 
    display:flex;
  /*  justify-content: center; */
}

.overlay{
  position:absolute;
  z-index:9999;
  width : 100%;
  max-width:300px; 
  height : 150px; 
  display:flex;
/*  justify-content: center; */
}
.modal{
  background-color: rgb(255,255,255);
  width : 300px;
  padding :10px;
  box-shadow : rgba(0,0,0,0.05) 0 6px 24px 0,rgba(0,0,0,0.08) 0 0 0 1px ;
  display:flex;
  flex-direction: column
}
.title{
  font-size : 14px;
  font-weight: bold;
  display:flex;
  flex-flow : row nowrap;
  align-items : center; 
  justify-content: center;
  margin-bottom: 10px;
}
    .controls {
      position : absolute;
      margin-top : 10px;
      display: flex;
      max-width: 280px;
      margin-bottom: 10px;
      @media only screen and (max-width: 767px) {
        max-width: 226px;
      }
    }
  
    .createButton {
      white-space: nowrap;
    }
  
    .field {
      margin-top : -10px;
      margin-bottom: 10px;
    }
  
    .importButton {
      background: transparent;
      box-shadow: none;
      color: #6b808c;
      font-weight: normal;
      margin-left: auto;
      margin-right: 0;
      overflow: hidden;
      text-align: left;
      text-decoration: underline;
      text-overflow: ellipsis;
      transition: none;
      white-space: nowrap;
  
      &:hover {
        background: rgba(9, 30, 66, 0.08);
        color: #092d42;
      }
    }
  
    .importButtonIcon {
      text-decoration: none;
    }
  /* } */
  