//:global(#app) {
  .menu {
    margin: 8px auto 0;
    max-height: 60vh;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    width: 100%;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
    }
  }

  .popupHeader {
    color: #444444;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
  }

  .popupCloseButton {
    background: transparent !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 10px 12px 10px 8px !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    z-index: 2000;
  }

  .popupWrapper {
    border-radius: 3px !important;
    border-width: 0 !important;
    box-shadow: 0 8px 16px -4px rgba(9, 45, 66, 0.25),
      0 0 0 1px rgba(9, 45, 66, 0.08) !important;
    margin-top: 6px !important;
    max-height: calc(100% - 70px);
    padding: 0 12px 12px !important;
    width: 304px;
  }
//}
