//:global(#app) {
  .closeButton {
    right: 5px;
    background: #ffffff;
    &:hover {
      background: #cbcccc;
    }
  }

  .deleteButton {
    bottom: 12px;
    box-shadow: 0 1px 0 #cbcccc;
    position: absolute;
    right: 12px;
  }

  .fieldBox {
    display: inline-block;
    margin: 0 4px 12px;
    width: calc(50% - 8px);
  }

  .fieldWrapper {
    margin: 0 -4px;
  }

  .text {
    color: #444444;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 4px;
    padding-left: 2px;
  }

  .popupCloseButton {
    background: transparent !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 10px 12px 10px 8px !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    z-index: 2000;
  }

  .popupWrapper {
    border-radius: 3px !important;
    border-width: 0 !important;
    box-shadow: 0 8px 16px -4px rgba(9, 45, 66, 0.25),
      0 0 0 1px rgba(9, 45, 66, 0.08) !important;
    margin-top: 6px !important;
    max-height: calc(100% - 70px);
    padding: 0 12px 12px !important;
    width: 304px;
  }
//}
