/* :global(#app) {  */
    .item {
      cursor: auto;
      user-select: auto;
  
      &:before {
        background: none;
      } 
  
*     &:active{
        background:  rgba(255, 255, 255, 1.0);
      }  
     
      &:hover {  
        background:  rgba(255, 255, 255, 1.0); 
        color: rgba(50, 50, 50); 
      } 
    }
  
    .itemHoverable:hover {
      cursor: pointer; 
      background-color:#22252a!important; 
    }
  
    .logo {
      color: #fff;
      flex: 0 0 auto;
      letter-spacing: 3.5px;
      line-height: 50px;
      padding: 0 16px;
      text-transform: uppercase;
      width: 200px;
  
      text-Decoration: none;

      &:before {
        background: none;
      } 
    }
  
    .menu {
      background: transparent; 
      border: none;
      border-radius: 0;
      box-shadow: none;
      color: #fff;
      flex: 1 1 auto; 
      height: 50px; 
      margin: 0;
      width: 100%;
    }
  
    .menu_left{
      width: 75%;
      background: rgba(0, 0, 0) ;
    }

    .menu_right{
      width: 25%;
      background: rgba(0, 0, 0) ;
    }

    .notification {
      background: #eb5a46;
      border-radius: 8px;
      color: #fff;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      height: 16px;
      line-height: 16px;
      position: absolute;
      right: 8px;
      text-align: center;
      top: 8px;
      width: 16px;
    }
  
    .title {
      font-size: 20px;
      font-weight: bold;
    }
  
    .wrapper {
      background: rgba(0, 0, 0, 0.24);
      display: flex;
      flex: 0 0 auto;
    }
/* } */
  