.field {
  border: none !important;
  margin-bottom: 4px !important;
  outline: none !important;
  overflow: hidden !important;
  padding: 0 !important;
  resize: none !important;
  width: 100% !important;
  word-wrap: break-word !important;
}

.fieldWrapper {
  background: #fff !important;
  border-radius: 3px !important;
  box-shadow: 0 1px 0 #ccc !important;
  margin-bottom: 8px !important;
  min-height: 20px !important;
  padding: 6px 8px 2px !important;
}

.submitButton {
  margin-bottom: 8px !important;
  vertical-align: top !important;
}

.controls {
  clear: both !important;
  margin-top: 6px !important;
}

// Task ----------------
.taskField {
  background: #fff !important;
  border: 1px solid rgba(9, 30, 66, 0.13) !important;
  border-radius: 3px !important;
  box-sizing: border-box !important;
  color: #17394d !important;
  display: block !important;
  font-size: 14px !important;
  line-height: 1.5 !important;
  overflow: hidden !important;
  padding: 8px 12px !important;
  resize: none !important;

  &:focus {
    outline: none !important;
  }
}

.taskWrapper {
  padding: 9px 32px 16px 40px !important;
}
